
// Text
$text-color-primary: #444F60;
$text-color-secondary: #FFFFFF;
$text-color-additional: #1EBDC1;
$text-color-error:#f44336;

// Background component
$color-primary: #444F60;

// Other
$body-color-primary:#F1F2F4